<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <title>Display List</title>
</head>
<body class = 'container'>
        
    <nav class = "navbar navbar-expand-lg navbar-light bg-light row">
        <div class = 'col-sm'><a class = "btn btn-primary" href = "/">Home</a></div>
        <div class = 'col-sm'><a class = "btn btn-primary" href = "/search">Search Posts</a></div>
    </nav>
    {% if bucketItems %}
    <div class = 'row'>
            {% for item in bucketItems %}
            <div class="col-sm-auto">
                <h5 >{{item.title}}</h5>
                <p>{{item.text}}</p>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No items in this bucket list</p>
    {% endif %}

</body>
</html>