{% include "otterbucket_app/header.html" %}
<div class="row">

    <div class="col">
        <a href="/adminAddUser" class="btn btn-primary">Add User</a>
        {% if users %}
            {% for user in users %}
                <h5>{{user.username}}</h5>
                <div class="row">
                    <div class="col">
                        <a href="/adminUpdateUser/{{user.id}}">Update</a>
                    </div>
                    <div class="col">
                        <form action="/manualDeleteUser" method="POST">
                            <button value="{{user.id}}" id="{{user.id}}" name="userId">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col">
        <a href="/adminAddItem" class="btn btn-primary">Add Item</a>
        {% if items %}
            {% for item in items %}
                <h5>{{item.title}}</h5>
                <p>{{item.text}}</p>
                <div class="row">
                    <div class="col">
                        <a href="/adminUpdateItem/{{item.id}}">Update</a>
                    </div>
                    <div class="col">
                        <form action="/manualDeleteItem" method="POST">
                            <button value="{{item.id}}" id="{{item.id}}" name="itemId">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No items in database.</p>
        {% endif %}
    </div>
</div>



</body>
</html>