<!DOCTYPE html>
<html lang="en">
<head>
    <title>edit_account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div style="text-align left">
        <h3>Username: *user goes here*</h3>
    </div>
    <div style="text-align:left">
        <input style='padding: 4px' class="btn btn-default" type="submit" value="Change Username">
    </div>
    <div style="text-align:left">
        <input style='padding: 4px' class="btn btn-default" type="submit" value="Change Password">
    </div>
    <div style="text-align:left">
        <input style='padding: 4px' class="btn btn-default" type="submit" value="Delete Account">
    </div>
</body>

</html>