<!--
    <!DOCTYPE html>
 -->
 {% include "otterbucket_app/header.html" %}
        <form action="/loginUser" method="POST">
            <h1 style="text-align:center">Sign in to OtterBucket</h1>
            <br>
            <div style="text-align:center">

                <input type="text" style='padding: 4px' placeholder="Username" name="username" id="Username">
            </div>
            <div style="text-align:center">
                <input type="password" style='padding: 4px' placeholder="Password" name="password" id="Password">
            </div>
            <div style="text-align:center">
                <button style='padding: 4px' class="btn btn-default" value="Login">
                    Login
                </button>
            </div>
            <div style="text-align:center">
                <p>Don't have an account? <a href='/register'>Make One Here</a></p>
            </div>
        </form>
</body>

</html>