{% include "otterbucket_app/header.html" %}

{{ bucketItems|json_script:"test-bucket" }}
<!--=========================================random-item============================================-->
<!-------------------------------------------The Scripts-------------------------------------->
<script>
//_________________________________________________________________________
//Variables
//_________________________________________________________________________
var items = JSON.parse(document.getElementById('test-bucket').textContent);
var listObject = JSON.parse(items)
//_________________________________________________________________________

//___________________________________________________________________________________________
//change_text function
//___________________________________________________________________________________________
function change_text(){
	//The Stat-pat comment to get our commits to 100 B)
	var keys = Object.keys(listObject);
	var len = keys.length;
	var randomValue = Math.floor(Math.random() * len);

	var randomItem = Object.values(Object.values(listObject)[randomValue]);
    document.getElementById("resultHeader").innerHTML = "" + Object.values(randomItem[2])[0];
	document.getElementById("resultTitle").innerHTML = "" + Object.values(randomItem[2])[1];
}
//___________________________________________________________________________________________
</script>
<!--------------------------------------------------------------------------------------------->

<!----------------------------------------The Styles--------------------------------------------->
<style>
	#wrapper{width:100%; height:500px; border:1px solid black;}
	h1 {text-align: center; font-size: 50px;}
	h2 {text-align: center; font-size: 25px;}
	button{height:100px; position:relative; margin: -20px -50px; width:100px; top:50%; left:50%;}
</style>
<!----------------------------------------------------------------------------------------------->

<!----------------------------------------The Body----------------------------------->
<body>
	<!--__________________________________________________________________________-->
	<!-- The Wrapper-->
	<!--__________________________________________________________________________-->
	<div id="wrapper">
		<!--The header for the result-->
		<h1 id = resultHeader></h1>
		<!----------------------------->

		<!-------------------The title for the result----------------------->
		<h2 id = "resultTitle">
			Use this button to help decide a random item for you to purchase!
		</h2>
		<!------------------------------------------------------------------>

		<!---------------------Random Item Generation Button--------------------->
        <button type="button" onclick="change_text()">Pick a Random Item!</button>
		<!----------------------------------------------------------------------->
	</div>
	<!--__________________________________________________________________________-->
</body>
<!------------------------------------------------------------------------------------>
<!--=========================================random-item============================================-->