<html>

<head>
    <title>register_page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <h1 style="text-align:center">Welcome to OtterBucket!</h1>
        <h2 style="text-align:center">Please create a username and password:</h2>
        <br>
        <form action="" method="post">
            <div style="text-align:center">

                <input type="text" style='padding: 4px' placeholder="Username" name="username">
            </div>
            <div style="text-align:center">
                <input type="password" style='padding: 4px' placeholder="Password" name="password">
            </div>
            <div style="text-align:center">
                <input style='padding: 4px' class="btn btn-default" type="submit" value="Create Account">
                <a href='/list'> </a>
                </input>
            </div>
        </form>
    </div>
</body>

</html>