<html>
  <head>
    <title>login_page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1 style="text-align:center">Sign in to OtterBucket</h1>
      <br>
	  <div style="text-align:center">
		  <form action="" method="post">
			<input type="text" style='padding: 4px' placeholder="Username" name="username" >
	  </div>
	  <div style="text-align:center">
			 <input type="password" style='padding: 4px' placeholder="Password" name="password">
	  </div>
	  <div style="text-align:center">
		<input style='padding: 4px' class="btn btn-default" type="submit" value="Login">
		</div>
		<div style="text-align:center">
			<p>Dont have an account? <a href='/'>Make One Here</a></p>
		</div>
		</form>
    </div>
  </body>
</html>